<!-- <div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div> -->

<div class="section scrollspy" id="archive">
  <div class="container">
        <div class="card card-padding">
      <div class="span12">
            <div class="date">
              <span>{{ page.date | date_to_long_string }}</span>
            </div>
            <div class="content">
              {{ content }}
            </div>
        
        <div class="pagination clearfix">
          <ul class = "pull-right">
          {% if page.previous %}
            <li class="prev"><a class="fa fa-arrow-circle-left" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}"> 前一篇</a></li>
          {% else %}
            <li class="prev disabled" ><a class="fa fa-arrow-circle-left"> 前一篇</a></li>
          {% endif %}
            <li><a class="fa fa-th" href="{{ BASE_PATH }}/archive"> 所有日志</a></li>
          {% if page.next %}
            <li class="next"><a  href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">后一篇 <span class="fa fa-arrow-circle-right">  </span></a></li>
          {% else %}
            <li class="next disabled"><a >后一篇 <span class="fa fa-arrow-circle-right">  </span></a>
          {% endif %}
          </ul>
        </div>
        <hr>
        {% include JB/comments %}
      </div>
    </div>
  </div>
</div>
