
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <article>
                <!-- 标签 -->
                {% include JB/setup %}
                <ul class="tag_box inline">
                  {% assign categories_list = site.categories %}
                  {% include JB/categories_list %}
                </ul>

                <!-- 展示 -->
                <div class="row">
                    {% for post in site.posts %}
                        <div class="col-sm-4 portfolio-item">
                            <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                            </a>
                            <!-- 查看全文 -->
                            <div class="read-more">
                                <a class="fa fa-link" href="#portfolioModal-{{ post.modal-id }}">  查看全文&hellip;</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                
                <!-- Back to top -->
                <a class="back-to-top" href="#top" style="display: inline;"></a>
            </article>  
<!--             <div class="row">
    <div class="col-lg-12 text-center">
        <h2>文章</h2>
        <hr class="star-primary">
        {% include JB/setup %}
        <ul class="tag_box inline">
          {% assign categories_list = site.categories %}
          {% include JB/categories_list %}
        </ul>
    </div>
</div> -->
<!--             <div class="block blockmb">
    <div class="dt-cat oh">
        <table class="dt-cat-inner" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td class="dt-cat-title">文章</td>
                    <td class="dt-cat-content">
                        <div class="dt-tag-list clr">
                            {% include JB/setup %}
                            <ul class="tag_box inline">
                              {% assign categories_list = site.categories %}
                              {% include JB/categories_list %}
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<!--             <div class="row">
    {% include JB/setup %}
    <ul class="tag_box inline">
      {% assign categories_list = site.categories %}
      {% include JB/categories_list %}
    </ul>
</div> -->


<!--             <div class="row">
    {% for post in site.posts %}
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
            </a>
        </div>
    {% endfor %}
</div> -->
        </div>
    </section>